{{define "base-head"}}
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>🎤</text></svg>">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Live Band Karaoke">
    <meta property="og:description" content="Sign up to sing tonight">
    <meta property="og:url" content="https://te-live.fly.dev">
    <!-- <meta property="og:image" content="https://te-live.fly.dev/static/og-image.png"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/base.css">
{{end}}