<!DOCTYPE html>
<html lang="en">
<head>
    <title>Live Band Karaoke</title>
    {{template "base-head" .}}
    <link rel="stylesheet" href="/static/index.css">
    <script src="/static/vendor/htmx.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Troubles End Live Band Karaoke</h1>

    <div id="queue-status" hx-get="/queue-status" hx-trigger="every 5s" hx-swap="innerHTML">
        {{template "index_queue.html" .}}
    </div>
    <a id="tip-link" href="https://venmo.com/u/troublesendlbk" rel="noopener noreferrer">
        💚 Tip the band on Venmo
    </a>
</div>
<script src="/static/index.js"></script>
</body>
</html>